@model IEnumerable<FEMM20250324.AppWebMVC.Models.Brand>

@{
    ViewData["Title"] = "Agregar Marca";
}

<h1>Marcas</h1>

<p>
    <a asp-action="Create">Agregar marca</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                <!--

                @Html.DisplayNameFor(model => model.BrandName)
                -->
                Marca
            </th>
            <th>
                <!--
                @Html.DisplayNameFor(model => model.Country)
                -->
                Pais
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
