@model IEnumerable<FEMM20250324.AppWebMVC.Models.Product>

@{
    ViewData["Title"] = "Index Productos";
}

<h1>Productos</h1>
                        @if (User.Identity.IsAuthenticated)
                        {
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Producto</a>
</p>
                        }
<table class="table" id="myTable">
    <thead>
        <tr>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            -->
            <th>
                <!--
                @Html.DisplayNameFor(model => model.ProductName)
                -->
                
                Nombre Producto
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Description)-->
                Descripción
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Price)-->
                Precio
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.PurchasePrice)-->
                Precio Compra
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Notes)-->
                Notas
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Brand)-->
                Marca
            </th>
            <th>
                <!--@Html.DisplayNameFor(model => model.Warehouse)-->
                Bodega
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <!--
            <td>
                @Html.DisplayFor(Model => item.Id)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.WarehouseName)
            </td>
                                    @if (User.Identity.IsAuthenticated)
                        {
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
                        }
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function() {
             $('#myTable').DataTable({
               "language":languageTable
             });
        });
    </script>
}
